@page "/account/access_denied"

<PageTitle>Access denied</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Access denied</h3>
    <p>You do not have access to this resource.</p>
    <p><a href="account/login">Back to login</a></p>
</div>
