@page "/account/confirm_email"

<PageTitle>Confirm email</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Confirm email</h3>
    <StatusMessage Message="@statusMessage"/>
    <p><a href="account/login">Go to login</a></p>
</div>
