@page "/account/confirm_email_change"

<PageTitle>Confirm email change</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Confirm email change</h3>
    <StatusMessage Message="@message"/>
    <p><a href="account/login">Go to login</a></p>
</div>
