@page "/account/external_login_callback"

<PageTitle>External Login</PageTitle>

<div class="card" style="text-align: center;">
    <h3>External Login</h3>
    <StatusMessage Message="@message"/>
    <p><a href="account/login">Back to login</a></p>
</div>
