@page "/Account/ForgotPassword"

<PageTitle>Forgot your password?</PageTitle>

<div class="card">
    <h3 style="text-align: center;">Forgot your password?</h3>
    <p>Enter your email.</p>

    <hr />

    <EditForm Model="Input" method="post" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="Input.Email" class="form-label">Email</label>
            <InputText @bind-Value="Input.Email" name="Input.Email" id="Input.Email"
                   placeholder="@("name@example.com")" class="form-input" />
        </div>

        <button type="submit" class="btn-primary btn-block">Reset password</button>
    </EditForm>
</div>
