@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Invalid user</h3>
    <StatusMessage/>
    <p><a href="Account/Login">Back to login</a></p>
</div>
