@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Invalid password reset</h3>
    <p>The password reset link is invalid.</p>
    <p><a href="Account/Login">Back to login</a></p>
</div>
