@page "/account/lockout"

<PageTitle>Locked out</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Locked out</h3>
    <p>This account has been locked out, please try again later.</p>
    <p><a href="account/login">Back to login</a></p>
</div>
