@page "/account/login_with_recovery_code"

<PageTitle>Recovery code verification</PageTitle>

<div class="card">
    <h3 style="text-align: center;">Recovery code verification</h3>

    <hr />

    <StatusMessage Message="@message"/>

    <p>
        You have requested to log in with a recovery code. This login will not be remembered until you provide
        an authenticator app code at log in or disable 2FA and log in again.
    </p>

    <EditForm Model="Input" method="post" FormName="login-with-recovery-code" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="Input.RecoveryCode" class="form-label">Recovery Code</label>
            <InputText @bind-Value="Input.RecoveryCode" name="Input.RecoveryCode" id="Input.RecoveryCode"
                   placeholder="RecoveryCode" class="form-input" />
        </div>

        <button type="submit" class="btn-primary btn-block">Log in</button>
    </EditForm>
</div>
