@page "/Account/Login"

<PageTitle>Log in</PageTitle>

<StatusMessage Message="@errorMessage"/>

<div class="card">
    <h3 style="text-align: center;">Log in</h3>

    <EditForm Model="Input" method="post" FormName="login" OnValidSubmit="LoginUser" id="login-form">
        <DataAnnotationsValidator />
        <ReCaptcha FormId="login-form" />

        <div class="form-group">
            <label class="form-label" for="Input.Email">Email</label>
            <InputText @bind-Value="Input.Email" id="Input.Email" name="Input.Email" class="form-input"
                       placeholder="@("name@example.com")" autocomplete="username" />
            <ValidationMessage For="() => Input.Email" />
        </div>

        <div class="form-group">
            <label class="form-label" for="Input.Password">Password</label>
            <InputText @bind-Value="Input.Password" id="Input.Password" name="Input.Password" type="password" class="form-input"
                       placeholder="Password" autocomplete="current-password" />
            <ValidationMessage For="() => Input.Password" />
        </div>

        <div class="form-group">
            <label>
                <InputCheckbox @bind-Value="Input.RememberMe" name="Input.RememberMe" />
                Remember me
            </label>
        </div>

        <button type="submit" class="btn-primary btn-block">Log in</button>
    </EditForm>

    <hr />

    <div style="text-align: center;">
        <p><a href="Account/ForgotPassword">Forgot your password?</a></p>
        <p><a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a></p>
    </div>
</div>
