@page "/Account/RegisterConfirmation"

<PageTitle>Register confirmation</PageTitle>

<div class="card" style="text-align: center;">
    <h3>Registration confirmed</h3>
    <StatusMessage Message="@statusMessage"/>

    @if (emailConfirmationLink is not null)
    {
        <div class="alert alert-info">
            This app does not currently have a real email sender registered.
            <a href="@emailConfirmationLink">Click here to confirm your account</a>.
        </div>
    }
    else
    {
        <p>Please check your email to confirm your account.</p>
    }

    <p><a href="Account/Login">Go to login</a></p>
</div>
