@page "/account/resend_email_confirmation"

<PageTitle>Resend email confirmation</PageTitle>

<div class="card">
    <h3 style="text-align: center;">Resend email confirmation</h3>
    <p>Enter your email.</p>

    <hr />

    <StatusMessage Message="@message"/>

    <EditForm Model="Input" method="post" FormName="resend-email-confirmation" OnValidSubmit="OnValidSubmitAsync" id="resend-email-confirmation-form">
        <DataAnnotationsValidator />
        <ReCaptcha FormId="resend-email-confirmation-form" />

        <div class="form-group">
            <label for="Input.Email" class="form-label">Email</label>
            <InputText @bind-Value="Input.Email" name="Input.Email" id="Input.Email"
                       placeholder="name@example.com" class="form-input" />
        </div>

        <button type="submit" class="btn-primary btn-block">Resend</button>
    </EditForm>
    
    <hr />

    <div style="text-align: center;">
        <p><a href="account/login">Back to login</a></p>
    </div>
</div>
