@page "/Account/Manage/ChangePassword"

<PageTitle>Change password</PageTitle>

<h3>Change password</h3>
<StatusMessage Message="@message"/>

<div class="card">
    <EditForm Model="Input" method="post" FormName="change-password" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="@Input.OldPassword" class="form-label">Old password</label>
            <InputText type="password" @bind-Value="Input.OldPassword" name="Input.OldPassword" class="form-input" placeholder="Enter the old password" />
        </div>
        <div class="form-group">
            <label for="@Input.NewPassword" class="form-label">New password</label>
            <InputText type="password" @bind-Value="Input.NewPassword" name="Input.NewPassword" class="form-input" placeholder="Enter the new password" />
        </div>
        <div class="form-group">
            <label for="@Input.ConfirmPassword" class="form-label">Confirm password</label>
            <InputText type="password" @bind-Value="Input.ConfirmPassword" name="Input.ConfirmPassword" class="form-input" placeholder="Enter the new password" />
        </div>
        <button type="submit" class="btn-primary btn-block">Update password</button>
    </EditForm>
</div>
