@page "/Account/Manage/DeletePersonalData"

<PageTitle>Delete Personal Data</PageTitle>

<StatusMessage Message="@message"/>

<h3>Delete Personal Data</h3>

<div class="alert alert-warning">Deleting this data will permanently remove your account, and this cannot be recovered.</div>

<div class="card">
    <EditForm Model="Input" method="post" FormName="delete-user" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        @if (requirePassword)
        {
            <div class="form-group">
                <label for="@Input.Password" class="form-label">Password</label>
                <div class="password-wrapper">
                    <InputText type="password" @bind-Value="Input.Password" name="Input.Password" class="form-input" placeholder="Please enter your password." />
                    <button type="button" class="password-toggle" aria-label="Toggle password">&#x25C8;</button>
                </div>
            </div>
        }
        <button type="submit" class="btn-danger btn-block">Delete data and close my account</button>
    </EditForm>
</div>
