@page "/account/manage/edit_email"

<PageTitle>Edit email</PageTitle>

<h3>Edit email</h3>

<StatusMessage Message="@message"/>
<div class="card">
    <EditForm Model="Input" method="post" FormName="change-email" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="@Input.NewEmail" class="form-label">New email</label>
            <InputText @bind-Value="Input.NewEmail" name="Input.NewEmail" class="form-input" placeholder="Enter a new email" />
            <ValidationMessage For="() => Input.NewEmail" />
        </div>
        <button type="submit" class="btn-primary btn-block">Change email</button>
    </EditForm>

    <hr />
    <div style="text-align: center;">
        <a href="account/manage">Back to profile</a>
    </div>
</div>
