@page "/account/manage/generate_recovery_codes"

<PageTitle>Generate two-factor authentication (2FA) recovery codes</PageTitle>

@if (recoveryCodes is not null)
{
    <div class="card">
        <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message"/>
    </div>
}
else
{
    <h3>Generate two-factor authentication (2FA) recovery codes</h3>

    <div class="card">
        <div class="alert alert-warning" role="alert">
            <p><strong>Put these codes in a safe place.</strong></p>
            <p>If you lose your device and don't have the recovery codes you will lose access to your account.</p>
            <p>
                Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
                used in an authenticator app you should <a href="account/manage/reset_authenticator">reset your authenticator keys.</a>
            </p>
        </div>

        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken/>
            <button class="btn-danger btn-block" type="submit">Generate Recovery Codes</button>
        </form>
    </div>
}
