@page "/Account/Manage"

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage/>

<div class="card">
    <EditForm Model="Input" method="post" FormName="profile" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" value="@username" disabled placeholder="Choose your username." class="form-input" />
        </div>
        <div class="form-group">
            <label for="@Input.PhoneNumber" class="form-label">Phone number</label>
            <InputText @bind-Value="Input.PhoneNumber" name="Input.PhoneNumber" class="form-input" placeholder="Enter your phone number" />
        </div>
        <button type="submit" class="btn-primary btn-block">Save</button>
    </EditForm>
</div>
