@page "/account/manage/personal_data"

<PageTitle>Personal Data</PageTitle>

<StatusMessage/>
<h3>Personal Data</h3>

<div class="card">
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <form action="account/manage/download_personal_data" method="post">
        <AntiforgeryToken/>
        <button type="submit" class="btn-primary">Download</button>
    </form>
    <div style="margin-top: 12px;">
        <a href="account/manage/delete_personal_data" class="btn btn-danger">Delete</a>
    </div>
</div>
