@page "/Account/Manage/PersonalData"

<PageTitle>Personal Data</PageTitle>

<StatusMessage/>
<h3>Personal Data</h3>

<div class="card">
    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <form action="Account/Manage/DownloadPersonalData" method="post">
        <AntiforgeryToken/>
        <button type="submit" class="btn-primary">Download</button>
    </form>
    <div style="margin-top: 12px;">
        <a href="Account/Manage/DeletePersonalData" class="btn btn-default">Delete</a>
    </div>
</div>
