@page "/account/manage/two_factor_authentication"

<PageTitle>Two-factor authentication (2FA)</PageTitle>

<StatusMessage/>
<h3>Two-factor authentication (2FA)</h3>

<div class="card">
    @if (canTrack)
    {
        if (is2FaEnabled)
        {
            if (recoveryCodesLeft == 0)
            {
                <div class="alert alert-error">
                    <strong>You have no recovery codes left.</strong>
                    <p>You must <a href="account/manage/generate_recovery_codes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                </div>
            }
            else if (recoveryCodesLeft == 1)
            {
                <div class="alert alert-error">
                    <strong>You have 1 recovery code left.</strong>
                    <p>You can <a href="account/manage/generate_recovery_codes">generate a new set of recovery codes</a>.</p>
                </div>
            }
            else if (recoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>You have @recoveryCodesLeft recovery codes left.</strong>
                    <p>You should <a href="account/manage/generate_recovery_codes">generate a new set of recovery codes</a>.</p>
                </div>
            }

            if (isMachineRemembered)
            {
                <form style="display:inline-block; margin-bottom:12px;" @formname="forget-browser" @onsubmit="OnSubmitForgetBrowserAsync" method="post">
                    <AntiforgeryToken/>
                    <button type="submit" class="btn-primary">Forget this browser</button>
                </form>
            }

            <div style="display:flex; gap:8px; flex-wrap:wrap; margin-bottom:16px;">
                <a href="account/manage/disable_2fa" class="btn btn-default">Disable 2FA</a>
                <a href="account/manage/generate_recovery_codes" class="btn btn-default">Reset recovery codes</a>
            </div>
        }

        <h4>Authenticator app</h4>
        @if (!hasAuthenticator)
        {
            <a href="account/manage/enable_authenticator" class="btn btn-default">Add authenticator app</a>
        }
        else
        {
            <div style="display:flex; gap:8px; flex-wrap:wrap;">
                <a href="account/manage/enable_authenticator" class="btn btn-default">Set up authenticator app</a>
                <a href="account/manage/reset_authenticator" class="btn btn-default">Reset authenticator app</a>
            </div>
        }
    }
    else
    {
        <div class="alert alert-error">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
</div>
