<nav class="manage-nav">
    <NavLink href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    <NavLink href="Account/Manage/Email">Email</NavLink>
    <NavLink href="Account/Manage/ChangePassword">Password</NavLink>
    <NavLink href="Account/Manage/TwoFactorAuthentication">Two-factor</NavLink>
    <NavLink href="Account/Manage/PersonalData">Personal data</NavLink>

    <div style="flex: 1;"></div>

    <div class="manage-nav-footer">
        <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="returnUrl" value="" />
            <button type="submit" class="btn-danger btn-block">Logout</button>
        </form>
    </div>
</nav>
