@inherits LayoutComponentBase

<div class="manage-wrapper">
    <div class="manage-card">
        <div class="manage-sidebar">
            <div class="manage-sidebar-title">Account</div>
            <ManageNavMenu />
        </div>
        <div class="manage-content">
            @Body
        </div>
    </div>
</div>
