{
  "ASPNETCORE_ENVIRONMENT": "Staging",

  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=appDbName;Username=postgres;Password=postgres;"
  },

  "AWS_REGION": "region",
  "AWS_ACCESS_KEY_ID": "key",
  "AWS_SECRET_ACCESS_KEY": "access key",

  "CognitoSettings": {
    "UserPoolId": "userPoolId",
    "Audience": "audience"
  }
}