{
  "ASPNETCORE_ENVIRONMENT": "Staging",

  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=appDbName;Username=postgres;Password=postgres;"
  },

  "SmtpSettings": {
    "From": "example@email.com",
    "Host": "smtp.com",
    "Port": "587",
    "User": "example@email.com",
    "Password": "pass"
  },

  "AppSettings": {
  }
}