{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=appDbName;Username=postgres;Password=postgres;"
  },

  "AuthSettings": {
    "Authority": "https://example.com/openid-config",
    "Audience": "audience"
  }
}